@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    min-width: 100vw;

    body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        min-height: 100vh;
        overflow-x: hidden;
    }
}

.swal2-popup {
    color: #000000;
    font-family: 'Roboto', sans-serif; 
}

.swal2-html-container {
    font-size: 16px;
    letter-spacing: 3px;
}

.swal2-styled.swal2-confirm {
    background-color: #333333;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

%form-options {
    align-items: center;
    background-color: #e9e8e9;
    display: flex;
    height: 2.5rem;
    width: 35.625rem;

    label {
        color: #000000;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 3px;
        margin-left: 1.25rem;
        margin-right: 0.3rem;
        text-transform: uppercase;
        min-width: max-content;
    }

    input {
        background-color: #e9e8e9;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 300;                             
        height: 100%;
        outline: none;
        text-transform: uppercase;
        width: 100%;
    }

    select {                                    
        background-color: #e9e8e9;
        background-image: url('../assets/arrow.png');
        background-repeat: no-repeat;
        background-position: 302px center;
        border: none;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 300;
        height: 100%;                                    
        outline: none;
        text-transform: uppercase;
        width: 20.5625rem;                                                                  
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;  
        appearance: none;

        option {
            border: none;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 300;            
            height: 100%;
            outline: none;
            margin-left: 50px;                            
            text-transform: uppercase;
        }
    }
}

.container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
        background-color: #000000;
        display: flex;
        justify-content: center;
        height: 25.3125rem;
        width: 100%;

        .header-container {
            height: 100%;
            width: 73.125rem;
            
            .navbar {
                border-bottom: 1px solid #333333;
                display: flex;
                height: 6.25rem;
                width: 100%;

                .nav-left {
                    align-items: center;
                    border-bottom: 4px solid #fccb8d;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;                    
                    height: 100%;
                    width: 16.875rem;
                }

                .nav-center {
                    height: 100%;
                    margin-left: 3.5rem;
                    margin-right: 1.875rem;
                    width: 44.375rem;

                    .nav-center-i-container {
                        align-items: center;
                        display: flex;
                        justify-content: space-between;                        
                        height: 100%;

                        li {
                            border-bottom: 1px solid transparent;
                            box-sizing: border-box;
                            color: #ffffff;
                            cursor: pointer;
                            display: inline-block;
                            direction: rtl;
                            font-size: 17px;
                            font-weight: 300;
                            letter-spacing: 4px;
                            list-style: none;
                            padding-top: 40px;
                            padding-bottom: 40px;
                            text-indent: -4px;
                            text-transform: uppercase;
                            transition: all 0.2s linear;

                            &:hover {
                                border-bottom: 1px solid #fccb8d;
                                color: #fccb8d;
                            }
                        }
                    }
                }

                .nav-right {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    width: 6.5rem;

                    i {
                        color: #ffffff;
                        cursor: pointer;
                        font-size: 20px;
                        transition: color 0.2s linear;
                        &:hover {
                            color: #fccb8d;
                        }
                    }
                }
            }

            .title-container {
                display: flex;
                justify-content: space-between;
                height: 19rem;
                width: 100%;

                .title-container-left {                    
                    display: flex;
                    flex-direction: column;
                    padding-top: 2.5rem;
                    padding-bottom: 2.5rem;
                    width: 27.5rem;

                    .tcl-brand {                        
                        background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 0%);
                        background-position: bottom;
                        background-repeat: repeat-x;
                        background-size: 10px 1px;
                        display: flex;
                        flex-direction: column;
                        height: 7.5rem;
                        width: 25.625rem;

                        .tcl-brand-first {
                            border-left: 3px solid #ffffff;
                            box-sizing: border-box;
                            height: 3.75rem;
                            padding-left: 2.5rem;
                            width: 100%;

                            h4 {
                                color: #ffffff;
                                font-weight: 300;
                                letter-spacing: 3px;
                            }
                        }

                        .tcl-brand-second {                            
                            border-left: 1px solid #333333;
                            box-sizing: border-box;                 
                            height: 3.75rem;
                            padding-left: 2.5rem;
                            width: 24.375rem;                            
                        }
                    }

                    .tcl-text {
                        height: 6.5rem;
                        width: 100%;

                        p {
                            color: #ffffff;
                            font-size: 16px;
                            font-weight: 300;
                            letter-spacing: 4px;
                            padding-left: 2.5rem;
                            padding-top: 1.875rem;
                        }
                    }
                }

                .title-container-right {
                    align-self: flex-end;
                    border-right: 1px solid #ffffff;
                    height: 7.5rem;
                    margin-bottom: 2.5rem;
                    margin-right: 2.5rem;                    
                }
            }
        }
    }

    .content {
        background-color: #ffffff;
        display: flex;
        height: 61.25rem;
        justify-content: center;
        width: 100%;

        .content-container {
            display: flex;
            flex-direction: column;

            .content-container-up {
                height: 52.5rem;
                position: relative;
                width: 73.125rem;
    
                .bg-image {                
                    position: absolute;
                    top: 36%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
    
                .bg-image-2 {                
                    position: absolute;
                    top: 52.7%;
                    left: 47.8%;
                    transform: translate(-50%, -50%);
                }
    
                .bg-image-3 {                
                    position: absolute;
                    top: 39.2%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .content-container-down {
                display: flex;
                flex-direction: column;
                height: 5.5rem;
                margin-bottom: 2.625rem;
                margin-top: 0.625rem;
                width: 100%;

                .ccd-first {
                    align-self: flex-end;
                    display: flex;
                    margin-right: 12.5rem;
                }

                .ccd-second {
                    align-items: flex-end;
                    box-sizing: border-box;
                    display: flex;                    
                    height: 3.875rem;

                    p {
                        border-right: 2px solid #000000;
                        font-size: 30px;
                        letter-spacing: 6px;
                        line-height: 26px;
                        margin-left: 6.25rem;
                        padding-right: 2.5rem;
                        text-transform: uppercase;
                    }                          
                }
            }
        }        
    }

    .content-middle {
        height: 30.5rem;
        width: 100%;

        .content-middle-container {        
            background-image: url('../assets/bg-asset-2.png');
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            height: 100%;
            justify-content: center;
            object-fit: cover;
            width: 100%;

            .cmc-left {
                display: flex;
                width: 36.5625rem;
                height: 100%;

                p {
                    color: #ffffff;
                    font-weight: 300;
                    height: 4.75rem;
                    letter-spacing: 4px;
                    margin-left: 6.25rem;
                    margin-right: 7.1875rem;
                    margin-top: 6rem;
                    width: 23.125rem;
                }
            }

            .cmc-right {
                display: flex;
                justify-content: flex-end;
                width: 36.5625rem;
                height: 100%;

                p {
                    color: #ffffff;
                    font-weight: 300;
                    height: 19rem;
                    letter-spacing: 4px;
                    margin-left: 7.1875rem;
                    margin-right: 6.25rem;
                    margin-top: 6rem;
                    width: 23.125rem;
                }
            }
        }
    }

    .latest-content {
        background-color: #ffffff;
        display: flex;
        height: 26.625rem;
        justify-content: center;
        width: 100%;

        .latest-content-container {
            display: flex;
            height: 100%;
            width: 73.125rem;
            
            .lcc-left {
                height: 100%;
                position: relative;
                width: 36.5625rem;

                .bg-image-4 {
                    height: 621px;
                    position: absolute;
                    top: 6.5%;
                    left: 51.3%;
                    transform: translate(-50%, -50%);
                    width: 467px;
                }
            }

            .lcc-right {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 36.5625rem;

                h3 {
                    font-size: 30px;
                    font-weight: 300;
                    letter-spacing: 6px;
                    margin-left: 0.75rem;         
                    margin-right: 11.5625rem;
                    margin-top: 5.3125rem;
                    text-transform: uppercase;
                    width: 25rem;

                    span {
                        margin-left: 41px;
                    }
                }

                p {
                    color: #000000;
                    font-weight: 300;
                    letter-spacing: 4px;
                    margin-left: 0.75rem;
                    margin-right: 8.4375rem;
                    margin-top: 2.125rem;
                    width: 28.125rem;
                }
            }
        }        
    }

    .footer {
        background-color: #ffffff;
        border-top: 1px solid #fccb8d;
        display: flex;
        height: 24.375rem;
        justify-content: center;
        width: 100%;
        
        .footer-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
            width: 73.125rem;

            .footer-container-content {
                display: flex;
                flex-direction: column;
                gap: 12px;
                position: absolute;
                top: -5%;
                width: 100%;

                h3 {
                    font-size: 30px;
                    font-weight: 300;
                    letter-spacing: 6px;
                    text-transform: uppercase;

                    span {
                        margin-left: 41px;
                    }
                }

                p {
                    color: #000000;
                    font-weight: 300;
                    letter-spacing: 3px;
                }

                .form-container {
                    display: flex;
                    margin-top: 15px;

                    .form-content {
                        display: flex;
                        width: 100%;

                        .form-left {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 8.75rem;
                            width: 36.5625rem;

                            .form-option {
                                @extend %form-options;                                
                            }
                        }

                        .form-right {
                            align-items: flex-end;
                            display: flex;
                            flex-direction: column;
                            height: 8.75rem;
                            justify-content: space-between;
                            width: 36.5625rem;
                            
                            .form-option {
                                @extend %form-options;
                            }

                            .form-button {
                                align-items: center;
                                display: flex;
                                height: 2.5rem;
                                justify-content: space-between;
                                width: 35.625rem;

                                .accept-t {
                                    align-items: center;
                                    display: flex;
                                    height: 100%;
                                    justify-content: space-evenly;                             
                                    width: 21.875rem;

                                    input {
                                        cursor: pointer;
                                    }

                                    label {
                                        cursor: pointer;
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: 300;
                                        letter-spacing: 3px;
                                        text-decoration: underline;
                                    }
                                }

                                button {
                                    background-color: #fccb8d;
                                    border: none;
                                    color: #000000;
                                    cursor: pointer;
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 16px;
                                    height: 2.5rem;
                                    letter-spacing: 3px;
                                    text-transform: uppercase;
                                    transition: background-color 0.2s linear;
                                    width: 11.875rem;

                                    &:hover {
                                        background-color: #fabf73;                                        
                                    }
                                }
                            }
                        }
                    }
                }

                .footer-copyright {
                    align-items: center;
                    background-color: #000000;
                    display: flex;
                    height: 7.5rem;
                    margin-top: 2.625rem;
                    width: 73.125rem;

                    p {
                        color: #ffffff;
                        letter-spacing: 3px;
                        margin-left: 3.125rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .container {

        .header {
            height: 20.625rem;

            .header-container {
                width: 63.5rem;

                .navbar {
                    height: 4.75rem;

                    .nav-left {
                        width: 12.375rem;

                         img {
                            width: 10rem;
                         }
                    }

                    .nav-center {
                        width: 40.375rem;

                        .nav-center-i-container {

                            li {
                                font-size: 15px;
                                padding-top: 32px;
                                padding-bottom: 27px;
                            }
                        }
                    }

                    .nav-right {
                        width: 5.375rem;
                        
                        i {
                            font-size: 18px;
                        }
                    }
                }

                .title-container {
                    height: 15.8125rem;

                    .title-container-left {
                        padding-top: 2rem;
                        padding-bottom: 2rem;
                        width: 25rem;

                        .tcl-brand {
                            height: 6.3125rem;
                            width: 20.5625rem;

                            .tcl-brand-first {
                                height: 3.4375rem;
                                padding-left: 1.875rem;
                            }

                            .tcl-brand-second {
                                height: 2.8125rem;
                                padding-left: 1.875rem;
                                width: 100%;

                                img {
                                    width: 17rem;
                                }
                            }
                        }

                        .tcl-text {
                            height: 5.5rem;

                            p {
                                font-size: 14px;
                                padding-left: 1.875rem;
                                padding-top: 1.25rem;
                            }
                        }
                    }

                    .title-container-right {
                        height: 6.25rem;
                        margin-bottom: 2.25rem;
                        margin-right: 1.5625rem;
                    }
                }
            }
        }

        .content {
            height: 54.1875rem;

            .content-container {

                .content-container-up {
                    height: 46.5625rem;
                    width: 63.5rem;

                    .bg-image {
                        top: 37%;

                        img {
                            width: 49.4375rem;
                        }
                    }

                    .bg-image-2 {
                        top: 52.2%;

                        img {
                            width: 13rem;
                        }
                    }

                    .bg-image-3 {
                        top: 39%;

                        img {
                            width: 70.625rem;
                        }
                    }
                }

                .content-container-down {
                    height: 5rem;
                    margin-bottom: 2.375rem;
                    margin-top: 0.25rem;

                    .ccd-first {
                        margin-right: 10.8125rem;

                        img {
                            width: 4.625rem;
                        }
                    }

                    .ccd-second {

                        p {
                            font-size: 26px;
                            margin-left: 4.375rem;
                            margin-right: 4.5rem;
                        }
                    }
                }
            }
        }

        .content-middle {
            height: 26.875rem;                
            
            .content-middle-container {

                .cmc-left {
                    width: 31.75rem;

                    p {
                        font-size: 14px;
                        margin-left: 4.375rem;
                        margin-right: 5.625rem;
                        margin-top: 5rem;
                    }
                }

                .cmc-right {
                    width: 31.75rem;

                    p {
                        font-size: 14px;
                        margin-left: 5.625rem;
                        margin-right: 4.375rem;
                        margin-top: 5rem;
                    }
                }
            }
        }

        .latest-content {
            height: 24.125rem;

            .latest-content-container {
                width: 63.5rem;

                .lcc-left {
                    width: 31.75rem;

                    .bg-image-4 {
                        height: 558.500px;
                        left: 49.4%;
                        top: 5.2%;
                        width: 420px;

                        img {
                            width: 26.25rem;
                        }
                    }
                }

                .lcc-right {
                    width: 31.75rem;

                    h3 {
                        font-size: 26px;
                        margin-right: 96px;
                        margin-top: 4.625rem;

                        span {
                            margin-left: 2.125rem;
                        }
                    }

                    p {
                        font-size: 14px;
                        margin-right: 5rem;
                        margin-top: 1.625rem;
                        width: 26rem;
                    }
                }
            }
        }

        .footer {
            height: 21.3125rem;

            .footer-container {
                width: 63.5rem;

                .footer-container-content {
                    gap: 8px;

                    h3 {
                        font-size: 26px;

                        span {
                            margin-left: 2.125rem;
                        }
                    }

                    p {
                        font-size: 14px;
                    }

                    .form-container {
                        margin-top: 0.8rem;

                        .form-content {

                            .form-left {
                                width: 31.75rem;

                                .form-option {
                                    width: 30.8125rem;

                                    label {
                                        font-size: 14px;
                                    }

                                    input {
                                        font-size: 16px;
                                    }

                                    select {
                                        background-position: 248px center;
                                        font-size: 16px;
                                        width: 17.125rem;

                                        option {
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }

                            .form-right {
                                width: 31.75rem;

                                .form-option {
                                    width: 30.8125rem;

                                    label {
                                        font-size: 14px;
                                    }

                                    input {
                                        font-size: 16px;
                                    }
                                }

                                .form-button {
                                    width: 30.8125rem;

                                    .accept-t {
                                        width: 20.375rem;

                                        label {
                                            font-size: 14px;
                                        }                                
                                    }
                                    
                                    button {
                                        font-size: 14px;
                                        width: 9.25rem;
                                    }
                                }
                            }
                        }
                    }

                    .footer-copyright {
                        height: 6.25rem;
                        margin-top: 2rem;
                        width: 63.5rem;

                        p {
                            margin-left: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1148px) {
    .container {

        .header {
            height: 17.5rem;

            .header-container {
                width: 56.875rem;

                .navbar {
                    height: 4.125rem;

                    .nav-left {
                        width: 11.125rem;

                         img {
                            width: 8.75rem;
                         }
                    }

                    .nav-center {
                        margin-left: 2.875rem;
                        margin-right: 1.625rem;
                        width: 36.625rem;

                        .nav-center-i-container {

                            li {
                                font-size: 13px;
                                padding-top: 29px;
                                padding-bottom: 23px;
                            }
                        }
                    }

                    .nav-right {
                        width: 4.625rem;
                        
                        i {
                            font-size: 16px;
                        }
                    }
                }

                .title-container {
                    height: 13.3125rem;

                    .title-container-left {
                        padding-top: 1.625rem;
                        padding-bottom: 1.625rem;
                        width: 23.5rem;

                        .tcl-brand {
                            height: 5.5625rem;
                            width: 18.375rem;

                            .tcl-brand-first {
                                height: 3rem;

                                h4 {
                                    font-size: 14px;
                                }
                            }

                            .tcl-brand-second {
                                height: 2.5rem;
                                padding-left: 2rem;

                                img {
                                    width: 15.375rem;
                                }
                            }
                        }

                        .tcl-text {
                            height: 4.5rem;

                            p {
                                font-size: 12px;
                                padding-top: 1rem;
                            }
                        }
                    }

                    .title-container-right {
                        height: 5.25rem;
                        margin-bottom: 1.75rem;
                        margin-right: 1.1875rem;
                    }
                }
            }
        }

        .content {
            height: 46.5rem;

            .content-container {

                .content-container-up {
                    height: 40rem;
                    width: 56.875rem;

                    .bg-image {
                        top: 39%;

                        img {
                            width: 43.1875rem;
                        }
                    }

                    .bg-image-2 {
                        top: 52.2%;

                        img {
                            width: 11.25rem;
                        }
                    }

                    .bg-image-3 {
                        top: 39%;

                        img {
                            width: 63.5rem;
                        }
                    }
                }

                .content-container-down {
                    height: 4.5rem;
                    margin-bottom: 1.75rem;

                    .ccd-first {
                        margin-right: 10.375rem;

                        img {
                            width: 3.75rem;
                        }
                    }

                    .ccd-second {

                        p {
                            font-size: 22px;
                            margin-left: 4.25rem;
                            padding-right: 1.875rem;
                        }
                    }
                }
            }
        }

        .content-middle {
            height: 22.125rem;
            
            .content-middle-container {

                .cmc-left {
                    width: 28.4375rem;

                    p {
                        font-size: 12px;
                        margin-right: 5.3125rem;
                        margin-top: 4rem;
                        width: 18.75rem;
                    }
                }

                .cmc-right {
                    width: 28.4375rem;

                    p {
                        font-size: 12px;
                        height: 14.125rem;
                        margin-left: 5.3125rem;
                        margin-top: 4rem;
                        width: 18.75rem;
                    }
                }
            }
        }

        .latest-content {
            height: 21.125rem;

            .latest-content-container {
                width: 56.875rem;

                .lcc-left {
                    width: 28.4375rem;

                    .bg-image-4 {
                        height: 478.703px;
                        left: 49.2%;
                        width: 360px;

                        img {
                            width: 22.5rem;
                        }
                    }
                }

                .lcc-right {
                    width: 28.4375rem;

                    h3 {
                        font-size: 22px;
                        margin-right: 7.3125rem;
                        margin-top: 4.125rem;
                        width: 20.375rem;
                    }

                    p {
                        font-size: 12px;
                        margin-right: 4.4375rem;
                        margin-top: 1.125rem;
                        width: 23.25rem;
                    }
                }
            }
        }

        .footer {
            height: 18.4375rem;

            .footer-container {
                width: 56.875rem;

                .footer-container-content {
                    gap: 6px;

                    h3 {
                        font-size: 22px;
                    }

                    p {
                        font-size: 12px;
                    }

                    .form-container {
                        margin-top: 0.6rem;

                        .form-content {

                            .form-left {
                                height: 7.8125rem;
                                width: 28.4375rem;

                                .form-option {
                                    height: 2.1875rem;
                                    width: 27.5rem;

                                    label {
                                        font-size: 12px;
                                    }

                                    input {
                                        font-size: 14px;
                                    }

                                    select {
                                        background-position: 214px center;
                                        font-size: 14px;
                                        width: 15.1875rem;

                                        option {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }

                            .form-right {
                                height: 7.8125rem;
                                width: 28.4375rem;

                                .form-option {
                                    height: 2.1875rem;
                                    width: 27.5rem;

                                    label {
                                        font-size: 12px;
                                    }

                                    input {
                                        font-size: 14px;
                                    }
                                }

                                .form-button {
                                    height: 2.1875rem;
                                    width: 27.5rem;

                                    .accept-t {
                                        width: 18rem;

                                        label {
                                            font-size: 12px;
                                        }                                
                                    }
                                    
                                    button {
                                        font-size: 12px;
                                        height: 2.1875rem;
                                        width: 8.625rem;
                                    }
                                }
                            }
                        }
                    }

                    .footer-copyright {
                        height: 5.625rem;
                        margin-top: 1.625rem;
                        width: 56.875rem;

                        p {
                            margin-left: 2.25rem;
                        }
                    }
                }
            }
        }
    }
}